.custom-board {
  width: 400px;
  height: 400px;
  border-radius: 5px;
  padding: 3px;
  margin: 0 auto;
}

.custom-row {
  margin-bottom: 2px;
}

.custom-row:last-child {
  margin-bottom: 0;
}

.custom-row:after {
  content: "";
  display: block;
  clear: both;
}

.custom-cell {
  float: left;
  width: 37px;
  height: 37px;
  border-radius: 3px;
  margin-right: 2px;
}
