.custom-board {
  width: 100%;
  padding: 3px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .custom-cell {
    width: 9%;
    padding-bottom:9%;
    margin: 0.3%;
    float: left;
    border-radius: 2px;
  }
}

@media (min-width: 768px) {
  .custom-cell {
    width: 9%;
    padding-bottom:9%;
    margin: 1px;
    float: left;
    border-radius: 2px;
  }
}
