.custom-board {
  width: 100%;
  padding: 3px;
  margin: 0 auto;
}

.custom-cell {
  width: 9%;
  float: left;
  border-radius: 2px;
}

@media (max-width: 767px) {
  .custom-responsive-cell {
    margin: 0.3%;
  }
}

@media (min-width: 768px) {
  .custom-responsive-cell {
    margin: 1px;
  }
}

.custom-link-cell:hover {
  cursor: pointer;
  background-color: #F2DEDE;
}

.custom-svg {
  display: block;
}
